/app/__pycache__
/app/controllers/__pycache__
/app/databases/__pycache__
/app/models/__pycache__
/app/routes/__pycache__
/app/routes/v1/__pycache__
/app/schemas/__pycache__
/app/serialization/__pycache__
/app/config/__pycache__
.env
/.vscode